fastapi
uvicorn
pandas
opencv-python
pdf2docx
pyinstaller
numpy
python-docx
openpyxl
pypdf
mss
python-multipart
imageio
imageio-ffmpeg
Pillow
markdown
fpdf2
img2pdf
matplotlib
PyMuPDF
python-pptx
weasyprint
